/* ----- Global Styling ----- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

p {
  font-size: .9rem;
  margin-block-start: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

a {
  text-decoration: none;
}

li {
  font-family: 'Roboto Mono', sans-serif;
  list-style: none;
  list-style-position: inside;
}

/* =================================
  Layout
==================================== */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 1rem 1rem 1rem;
}

.nav {
  display: flex;
  z-index: 2;
  height: auto;
  background-color: #fff;
  margin: 0 -1rem;
  padding: 0 1rem;
  min-height: 50px;
  max-height: 75px;
  justify-content: space-between;
}

.logo {
  margin-top: .5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: right;
  cursor: pointer;
}

#menu-trigger {
  margin-top: .75rem;
  border-radius: 5px;
  cursor: pointer;
}

#menu-close {
  display: none;
  flex-direction: column;
  text-align: right;
  margin-top: .75rem;
  cursor: pointer;
}

.menu-list {
  display: none;
  background-color: #fff;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-direction: column;
  text-align: right;
}

.menu-item {
  margin: .5rem 0;
}

#skills:hover {
  color: #43BA87;
}

#work:hover {
  color: #CCCCCB;
}

#resume:hover {
  color: #80489C;
}

#school:hover {
  color: #2966B1;
}

#contact:hover {
  color: #EF4343;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem - 75px);
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 800px;
}

.contact-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  padding: 1rem;
  color: #fff;
  background-color: #EF4343;
}

.txt-box {
  display: flex;
  flex-direction: column;
  flex: 5;
  margin-left: 2rem;
}

.sl-contact {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: .8rem;
}

.bullet-icon {
  max-width: 25px;
  max-height: 25px;
  margin-right: 1rem;
}

/* =================================
  Colors
==================================== */
.red {
  color: #EF4343;
}

.red-hover:hover {
  background-color: #EF4343;
  color: white;
}

.red-bg {
  border-radius: 2px;
  background-color: #EF4343;
  color: white !important;
}

.red-bg:hover {
  color: #EF4343 !important;
  background-color: #fff;
}

.green {
  color: #43BA87;
}

.green-hover:hover {
  background-color: #43ba87;
  color: white;
}

.green-bg {
  border-radius: 2px;
  background-color: #43ba87;
  color: white !important;
}

.green-bg:hover {
  color: #43ba87 !important;
  background-color: #fff;
}

.purple {
  color: #80489C;
}

.purple-hover:hover {
  border-radius: 2px;
  background-color: #80489C;
  color: white;
}

.purple-hover:active {
  background-color: #80489C;
  color: white;
}

.purple-bg {
  border-radius: 2px;
  background-color: #80489C;
  color: white !important;
}

.blue {
  color: #2966B1;
}

.blue-hover:hover {
  border-radius: 2px;
  background-color: #2966B1;
  color: white;
}

.blue-bg {
  background-color: #2966B1;
  color: white !important;
}

.blue-bg:hover {
  color: #2966B1 !important;
  background-color: #fff;
}

.grey {
  color: #CCCCCB;
}

.grey-hover:hover {
  border-radius: 2px;
  background-color: #CCCCCB;
  color: white;
}

.grey-bg {
  background-color: #CCCCCB;
  color: white !important;
}

.grey-bg:hover {
  color: #CCCCCB !important;
  background-color: #fff;
}

#sun-moon {
  position: fixed;
  z-index: 1;
  bottom: 3rem;
  right: 3.2rem;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color .5s ease;
}

#sun-moon:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  background: #23232A;
  transition: border-radius .5s ease, background-color .5s ease, width .5s ease, transform .5s ease;
}

#sun-moon:after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #23232A;
  box-shadow: 0 0 0 0 #23232A, 0 0 0 0 #23232A, 0 0 0 2px #fff, 0 0 0 15px #23232A;
  box-sizing: border-box;
  transition: border-color .5s ease, box-shadow .5s ease;
}

body.night #sun-moon {
  background-color: #fff;
}

body.night #sun-moon:before {
  background: #23232A;
  border-radius: 50%;
  width: 100%;
  transform: translate(-5%, -35%) rotate(-25deg);
}

body.night #sun-moon:after {
  content: "";
  color: #fff;
  border: 2px solid #23232A;
  box-shadow: 0 0 0 0 #23232A, 0 0 0 0 #23232A, 0 0 0 2px #23232A, 0 0 0 15px #fff;
}
